#app {
  padding: 60px 0;
  text-align: center;
  &, *, *::before, *::after {
    box-sizing: border-box;
  }
}

h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

button {
  margin-top: 40px;
  padding: 16px 30px;
  border: 0;
  background: gray;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: linear 0.2s background;
  &.blue {
    background: #45ace9;
  }
  &.red {
    background: #dd3832;
  }
}

.btn-list {
  display: flex;
  margin-bottom: 30px;
  .btn {
    flex: 1;
    height: 40px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    user-select: none;
  }
}

.wheel-result {
  span {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 3px;
  }
}